<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksh.soundstory.mappers.ArtistMapper">

    <select id="selectArtistByArtistId" resultType="com.ksh.soundstory.entities.ArtistEntity">
        SELECT `artist_id`          AS `artistId`,
               `name`               AS `name`,
               `image_data`         AS `imageData`,
               `image_content_type` AS `imageContentType`,
               `image_file_name`    AS `imageFileName`,
               `genre`              AS `genre`,
               `ent`                AS `ent`,
               `grp`                AS `grp`
        FROM `ss`.`artist`
        WHERE `artist_id` = #{artistId}
    </select>


</mapper>