<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksh.soundstory.mappers.ArticleMapper">

    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.ksh.soundstory.entities.ArticleEntity">
        INSERT INTO `ss`.`article`(`nickname`, `content`, `liked`, `created_at`, `song_id`,`user_email`)
        VALUES (#{nickname}, #{content}, #{liked}, #{createdAt}, #{songId},#{userEmail})
    </insert>
    <select id="selectArticleByIndex" resultType="com.ksh.soundstory.entities.ArticleEntity">
        SELECT `index`      AS `index`,
               `nickname`   AS `nickname`,
               `content`    AS `content`,
               `liked`      AS `liked`,
               `created_at` AS `createdAt`,
               `song_id`    AS `songId` ,
               `user_email` AS `userEmail`
        FROM `ss`.`article`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <update id="updateArticle" parameterType="com.ksh.soundstory.entities.ArticleEntity">
        UPDATE `ss`.`article`
        SET `nickname`   = #{nickname},
            `content`    = #{content},
            `liked`      = #{liked},
            `created_at` = #{createdAt},
            `song_id`    = #{songId},
            `user_email` = #{userEmail}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

</mapper>