<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksh.soundstory.mappers.CommentMapper">
    <insert id="insertComment"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.ksh.soundstory.entities.CommentEntity">
        INSERT INTO `ss`.`comments`(`user_email`, `content`, `created_at`, `nickname`)
        VALUES (#{userEmail}, #{content}, #{createdAt}, #{nickname})
    </insert>


    <select id="selectCommentByIndex" resultType="com.ksh.soundstory.entities.CommentEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `nickname`   AS `nickname`
        FROM `ss`.`comments`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectCommentsByPage" parameterType="com.ksh.soundstory.vos.PageVo" resultType="com.ksh.soundstory.entities.CommentEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `nickname`   AS `nickname`
        FROM `ss`.`comments`
        ORDER BY comments.`index` DESC
        LIMIT #{countPerPage} OFFSET #{selectOffset}
    </select>

    <select id="selectCommentAll" resultType="com.ksh.soundstory.entities.CommentEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `nickname`   AS `nickname`
        FROM `ss`.`comments`
    </select>

    <select id="getCommentCount" resultType="_int">
        SELECT COUNT(0)
        FROM `ss`.`comments`
    </select>

    <delete id="deleteCommentByIndex">
        DELETE
        FROM `ss`.`comments`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>


</mapper>