@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, "BlinkMacSystemFont", "system-ui", "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}

* {
  scroll-behavior: smooth;
}

#nav {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  font: inherit;
  color: white;
  position: fixed;
  z-index: 1;
  gap: 0.85rem;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  .logo-image {
    display: flex;
    align-items: center;
    //margin-top: 1rem;
    background-color: #1e1e1e;
    border: 0.0625rem solid #333333;
    border-radius: 0.85rem;
    padding: 1.5rem 0.5rem;
    margin: 1.5rem 0.5rem;

    .logo-image:hover {
      cursor: pointer;
    }

    .image {
      margin-right: 0.5rem;
    }

    > .title {
      font-size: 1.8rem;
      font-weight: 800;
      text-decoration: none;
      color: white;


    }

  }

  .item-image {
    width: 100%;
    display: flex;
    list-style-type: none;
    height: 30px;

    align-items: center;
    padding: 0;
    margin: 0;

    > .image {
      height: 100%;
      margin-right: 0.5rem;
    }
  }

  .primary {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    gap: 0.85rem;
    border: 0.0625rem solid #333333;
    border-radius: 0.85rem;
    padding: 1.5rem 0.5rem;
    margin: 1.5rem 0.5rem;
    background-color: #1e1e1e;

    li {
      display: flex;
      align-items: center;
      gap: 0.85rem;
    }

    .item-image {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;

      .image {
        height: 100%;
        width: 100%;

      }
    }

    .text {
      color: inherit;
      text-decoration: none;
      font-size: 1.3rem;
      margin-left: 0.5rem;
    }
  }

  .playlist {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100%;
    border: 0.0625rem solid #333333;
    border-radius: 0.85rem;
    padding: 1.5rem 1rem;
    margin: 1.5rem 0.5rem;
    background-color: #1e1e1e;


    //.spring {
    //  height: 50%;
    //  flex-direction: row;
    //  flex-grow: 1;
    //}

    .add-button {
      width: 100%;
      height: 100%;
      border: 0.0625rem solid #333333;
      border-radius: 0.5rem;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;


      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: white;
      }
    }

    .playlist-container {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}

#header {
  background-color: black;

  > .menu {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: flex-start;
  }

  .label {
    box-sizing: border-box;
    border: 0.0625rem solid #444546;
    border-radius: 0.5rem;
    color: white;
    font: inherit;
    padding-block: 8px;
    padding-inline: 300px;
  }

  > .menu > .item > .label {
    width: 580px;
    border: none;
    border-radius: 999px;
    box-sizing: border-box;
    padding: 10px 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px
  }

  > .menu > .item > .label > .input {
    background-color: black;
    border-radius: 0.8rem;
    color: white;
    padding: 10px 15px;
    border: 0.5rem solid black;
    flex-grow: 1;
  }

  > .menu > .item > .label > .input:focus {
    color: white;
  }

  .search-button {
    border: none;
    border-radius: 0.5rem;
    color: white;

    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  .login-button {
    border: none;
    border-radius: 0.5rem;
    color: white;

    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  > .menu > .spring {
    flex-grow: 1;
  }

  > .button {
    list-style-type: none;


    .album-button .item {
      background-color: black;
      color: white;

      margin-right: 0.5rem;
      width: 3rem;
      height: 2rem;
      border: 0.0625rem solid #333333;
      border-radius: 0.85rem;
    }
  }
}

.main {
  margin-left: 20rem;
}

.album_section {
  background: linear-gradient(to bottom, #074000, #004400);
  top: 0;
  left: 10rem;
  width: 70rem;
  height: 20rem;
  margin-top: 50px;
  position: relative;
  align-items: stretch;
  display: flex;


}

.album_section .album_wrap {

  display: flex;
  align-items: stretch;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50rem;
  height: 15rem;


}

.album_section .album_wrap .album_thumb .album_thumb_image {
  top: 1rem;
  left: -6rem;

  width: 14rem;
  height: 14rem;
  position: relative;
  border-radius: 8px;
}

.album_section .album_wrap .album_text {
  top: 1rem;
  left: -4rem;


  width: 20rem;
  height: 12rem;

  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;

  gap: 0.5rem;

}

.album_section .album_wrap .album_text .album_title {
  font-size: 7rem;
  font-weight: 600;
}

.album_section .album_wrap .album_text .album_info_thumb {
  width: 2.5rem;
  height: 2.5rem;
}

.album_section .album_wrap .album_text .album_info_image {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.album_section .album_wrap .album_text .album_info {


  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.main > .album_list_section {
  background-color: transparent;
  left: 10rem;
  width: 70rem;


  display: flex;
  flex-direction: column;
  position: relative;
}

.main > .album_list_section > .album_list_head {
  display: flex;
  height: 2rem;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1rem;

  color: gray;
}

.main > .album_list_section > .album_list_head > .album_list_head_1 {
  width: 3rem;

  padding-left: 1rem;
  display: flex;
  position: relative;
}

.main > .album_list_section > .album_list_head > .album_list_head_2 {
  width: 40rem;

  padding-left: 1rem;
  display: flex;
  position: relative;
}

.main > .album_list_section > .album_list_head > .album_list_head_3 {
  width: 15rem;

  padding-left: 1rem;
  display: flex;
  position: relative;
}


.main > .album_list_section > .album_list_head > .album_list_head_4 {
  width: 11rem;

  padding-right: 0.4rem;

  display: flex;
  position: relative;
  grid-column: last;
  justify-content: flex-end;
}

.main > .album_list_section > .album_list_body {

  display: flex;
  flex-direction: column;

}


.main > .album_list_section > .album_list_body > .album_list_body_list > .album_list_body_song {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

.main > .album_list_section > .album_list_body > .album_list_body_list > .album_list_body_song:hover {
  background-color: #313131;
}


.main > .album_list_section > .album_list_body > .album_list_body_list > .album_list_body_song > .album_list_body_index {
  width: 3rem;

  padding-left: 1rem;
  display: flex;
  position: relative;
  color: gray;


}

.main > .album_list_section > .album_list_body > .album_list_body_list > .album_list_body_song > .album_list_body_title {
  width: 40rem;

  padding-left: 1rem;
  display: flex;
  position: relative;
}

.main > .album_list_section > .album_list_body > .album_list_body_list > .album_list_body_song > .album_list_body_artist {
  width: 15rem;

  padding-left: 1rem;
  display: flex;
  position: relative;
}

.main > .album_list_section > .album_list_body > .album_list_body_list > .album_list_body_song > .album_list_body_time {
  width: 11rem;

  padding-left: 1rem;

  display: flex;
  position: relative;
  grid-column: last;
  justify-content: flex-end;

  color: gray;
}

.album_list_body > .album_list_body_list > .album_list_body_text {
  display: flex;
  position: relative;


}

#footer {
  margin-left: 20rem;
  color: white;

  .menu {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    //margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .item {
      letter-spacing: 0.0225rem;
      margin: 0 1rem;

    }


    .item .link {
      color: white;
      text-decoration: none;
    }

    .item .link:hover {
      filter: brightness(70%);
    }

  }
}


//#main {
//
//  margin-left: 20rem;
//
//  > .album-div {
//    display: inline;
//  }
//
//  #header {
//    background-color: black;
//
//    > .menu {
//      list-style-type: none;
//      margin-block: 0;
//      margin-inline: 0;
//      padding-inline: 0;
//      align-items: center;
//      display: flex;
//      flex-direction: row;
//      gap: 1.25rem;
//      justify-content: flex-start;
//    }
//
//    .label {
//      box-sizing: border-box;
//      border: 0.0625rem solid #444546;
//      border-radius: 0.5rem;
//      color: white;
//      font: inherit;
//      padding-block: 8px;
//      padding-inline: 300px;
//    }
//
//    > .menu > .item > .label {
//      width: 580px;
//      border: none;
//      border-radius: 999px;
//      box-sizing: border-box;
//      padding: 10px 15px;
//      align-items: center;
//      display: flex;
//      flex-direction: row;
//      gap: 10px
//    }
//
//    > .menu > .item > .label > .input {
//      background-color: black;
//      border-radius: 0.8rem;
//      color: white;
//      padding: 10px 15px;
//      border: 0.5rem solid black;
//      flex-grow: 1;
//    }
//
//    > .menu > .item > .label > .input:focus {
//      color: white;
//    }
//
//    .search-button {
//      border: none;
//      border-radius: 0.5rem;
//      color: white;
//
//      font-size: 1rem;
//      font-weight: 500;
//      letter-spacing: 0.08rem;
//      padding: 0.5rem 1rem;
//      text-decoration: none;
//    }
//
//    .login-button {
//      border: none;
//      border-radius: 0.5rem;
//      color: white;
//
//      font-size: 1rem;
//      font-weight: 500;
//      letter-spacing: 0.08rem;
//      padding: 0.5rem 1rem;
//      text-decoration: none;
//    }
//
//    > .menu > .spring {
//      flex-grow: 1;
//    }
//  }
//
//  .album {
//    background: linear-gradient(to bottom, #074000, #004400);
//    display: flex;
//    flex-direction: column;
//    padding: 2.5rem 2.5rem;
//    margin-left: 2.5rem;
//    margin-right: 2.5rem;
//  }
//
//  .album-image {
//    display: flex;
//    width: 16rem;
//    height: 17rem;
//  }
//
//  .album-image-wrapper {
//    margin-top: 2rem;
//    display: flex;
//    flex-direction: row;
//
//  }
//
//  .album-description {
//    margin-left: 2rem;
//  }
//
//  .album-title .title {
//    font-size: 8rem;
//    margin-top: unset;
//    margin-bottom: unset;
//  }
//
//  .album-detail {
//    margin-top: 2rem;
//    //display: flex;
//    //gap: 0.5rem;
//
//
//  }
//
//
//  .album-detail .image {
//    width: 2rem;
//    height: 2rem;
//    border: 0.0625rem solid #333333;
//    border-radius: 50%;
//    margin-top: 0.5rem;
//    margin-right: 0.5rem;
//
//  }
//
//   .album-detail.text {
//    display: flex;
//    align-items: center;
//    flex: 1;
//    margin-left: 0.5rem;
//
//  }
//
//
//  .album-button .button {
//    background-color: black;
//    width: 3rem;
//    height: 2rem;
//    border: 0.0625rem solid #333333;
//    border-radius: 0.85rem;
//    color: white;
//  }
//
//
//
//
//
//}


