@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, "BlinkMacSystemFont", "system-ui", "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
body a {
  text-decoration: none;
  color: white;
}

* {
  scroll-behavior: smooth;
}

#nav {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  font: inherit;
  color: white;
  position: fixed;
  z-index: 1;
  gap: 0.85rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#nav .logo-image {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
  padding: 1.5rem 0.5rem;
  margin: 1.5rem 0.5rem;
}
#nav .logo-image .logo-image:hover {
  cursor: pointer;
}
#nav .logo-image .image {
  margin-right: 0.5rem;
}
#nav .logo-image > .title {
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
#nav .item-image {
  width: 100%;
  display: flex;
  list-style-type: none;
  height: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}
#nav .item-image > .image {
  height: 100%;
  margin-right: 0.5rem;
}
#nav .primary {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  gap: 0.85rem;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
  padding: 1.5rem 0.5rem;
  margin: 1.5rem 0.5rem;
  background-color: #1e1e1e;
}
#nav .primary li {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}
#nav .primary .item-image {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
#nav .primary .item-image .image {
  height: 100%;
  width: 100%;
}
#nav .primary .text {
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
#nav .playlist {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
  padding: 1.5rem 1rem;
  margin: 1.5rem 0.5rem;
  background-color: #1e1e1e;
}
#nav .playlist .add-button {
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #333333;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#nav .playlist .add-button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}
#nav .playlist .playlist-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main {
  margin-left: 20rem;
}

#header {
  background-color: black;
}
#header > .menu {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: flex-start;
}
#header .label {
  box-sizing: border-box;
  border: 0.0625rem solid #444546;
  border-radius: 0.5rem;
  color: white;
  font: inherit;
  padding-block: 8px;
  padding-inline: 300px;
}
#header > .menu > .item > .label {
  width: 580px;
  border: none;
  border-radius: 999px;
  box-sizing: border-box;
  padding: 10px 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#header > .menu > .item > .label > .input {
  background-color: black;
  border-radius: 0.8rem;
  color: white;
  padding: 10px 15px;
  border: 0.5rem solid black;
  flex-grow: 1;
}
#header > .menu > .item > .label > .input:focus {
  color: white;
}
#header .search-button {
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
#header .login-button {
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
#header > .menu > .spring {
  flex-grow: 1;
}
#header > .button {
  list-style-type: none;
}
#header > .button .album-button .item {
  background-color: black;
  color: white;
  margin-right: 0.5rem;
  width: 3rem;
  height: 2rem;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
}

.main > .artist_section {
  background-image: url(https://musicmeta-phinf.pstatic.net/artist/000/274/274327.jpg?type=f720_720_b24&v=20240122180120&quot;);
  background-size: cover;
  top: 0;
  left: 10rem;
  width: 70rem;
  height: 20rem;
  margin-top: 50px;
  position: relative;
  align-items: stretch;
  display: flex;
}

.main > .artist_section > .artist_wrap {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 15rem;
}

.main .artist_section .artist_wrap .artist_thumb .artist_thumb_image {
  margin-top: 2rem;
  margin-left: 1.5rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.main .artist_section .artist_wrap .artist_text {
  top: 2.8rem;
  left: 2rem;
  width: 20rem;
  height: 12rem;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;
}

.main .artist_section .artist_wrap .artist_text .artist_title {
  font-size: 2.8rem;
}

.main .artist_section .artist_wrap .artist_text .artist_info {
  font-size: 1.1rem;
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
}

.main .artist_section .artist_wrap .artist_text .artist_info .artist_info_title {
  color: #555555;
}

.main .song_section {
  background-color: black;
  left: 10rem;
  width: 70rem;
  border-radius: 8px;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  position: relative;
}

.main > .song_section .section_title {
  width: 70rem;
  height: 2rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.main > .song_section .section_more {
  color: gray;
  font-size: 1.3rem;
}

.trackList {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  text-align: center;
  table-layout: fixed;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}

.table thead {
  display: none;
}

.table th, .table td {
  padding: 10px;
}

.table tr:hover {
  background-color: #313131;
}

.main .trackList .tbody {
  display: table-row-group;
  width: 100%;
}

.song_thumb {
  width: 50px;
}

.song_thumb .inner {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.song_thumb .img_thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song_title, .song_artist, .song_album {
  width: 23rem;
  max-width: 23rem;
  text-align: left;
}

.song_artist, .song_album {
  color: gray;
}

.song_title .inner, .song_artist .inner, .song_album .inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song_option {
  width: 50px;
  text-align: center;
  cursor: pointer;
  color: gray;
}

.main > .comment_section {
  left: 10rem;
  width: 70rem;
  height: 15rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}

.main > .comment_section > .comment_head {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

.main > .comment_section > .comment_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main > .comment_section > .comment_content > .comment_write {
  width: 70rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main > .comment_section > .comment_content > .comment_write > .comment_textarea {
  display: block;
  position: relative;
  padding: 20px 10px 18px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: white;
  font-size: 16px;
  letter-spacing: -1px;
  resize: none;
}

.main > .comment_section > .comment_content > .comment_write > .comment_submit {
  left: 65rem;
  width: 5rem;
  height: 3.5rem;
  padding: 0.5rem;
  background-color: gray;
  color: #ffffff;
  border: 0.05rem;
  border-radius: 4px;
  display: block;
  position: relative;
  text-align: center;
}

.main > .comment_section > .comment_content > .comment_write > .comment_submit:hover {
  background-color: dimgray;
}

.main > .comment_section > .comment_content > .comment_write > .comment_submit:active {
  background-color: #313131;
}

textarea::placeholder {
  color: white;
}

#footer {
  margin-left: 20rem;
  color: white;
}
#footer .menu {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#footer .menu .item {
  letter-spacing: 0.0225rem;
  margin: 0 1rem;
}
#footer .menu .item .link {
  color: white;
  text-decoration: none;
}
#footer .menu .item .link:hover {
  filter: brightness(70%);
}

/*# sourceMappingURL=index.artist.css.map */
