@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


body {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, "BlinkMacSystemFont", "system-ui", "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

* {
  scroll-behavior: smooth;
  //
}


#nav {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  font: inherit;
  color: white;
  position: fixed;
  z-index: 1;
  gap: 0.85rem;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  .logo-image {
    display: flex;
    align-items: center;
    //margin-top: 1rem;
    background-color: #1e1e1e;
    border: 0.0625rem solid #333333;
    border-radius: 0.85rem;
    padding: 1.5rem 0.5rem;
    margin: 1.5rem 0.5rem;

    .logo-image:hover {
      cursor: pointer;
    }

    .image {
      margin-right: 0.5rem;
    }

    > .title {
      font-size: 1.8rem;
      font-weight: 800;
      text-decoration: none;
      color: white;


    }

  }

  .item-image {
    width: 100%;
    display: flex;
    list-style-type: none;
    height: 30px;

    align-items: center;
    padding: 0;
    margin: 0;

    > .image {
      height: 100%;
      margin-right: 0.5rem;
    }
  }

  .primary {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    gap: 0.85rem;
    border: 0.0625rem solid #333333;
    border-radius: 0.85rem;
    padding: 1.5rem 0.5rem;
    margin: 1.5rem 0.5rem;
    background-color: #1e1e1e;

    li {
      display: flex;
      align-items: center;
      gap: 0.85rem;
    }

    .item-image {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;

      .image {
        height: 100%;
        width: 100%;

      }
    }

    .text {
      color: inherit;
      text-decoration: none;
      font-size: 1.3rem;
      margin-left: 0.5rem;
    }
  }

  .playlist {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100%;
    border: 0.0625rem solid #333333;
    border-radius: 0.85rem;
    padding: 1.5rem 1rem;
    margin: 1.5rem 0.5rem;
    background-color: #1e1e1e;


    //.spring {
    //  height: 50%;
    //  flex-direction: row;
    //  flex-grow: 1;
    //}

    .add-button {
      width: 100%;
      height: 100%;
      border: 0.0625rem solid #333333;
      border-radius: 0.5rem;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;


      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: white;
      }
    }

    .playlist-container {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}

#main {

  margin-left: 20rem;

  > .main-div {
    display: inline;
  }

  #header {
    background-color: black;

    > .menu {
      list-style-type: none;
      margin-block: 0;
      margin-inline: 0;
      padding-inline: 0;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
      justify-content: flex-start;
    }

    .label {
      box-sizing: border-box;
      border: 0.0625rem solid #444546;
      border-radius: 0.5rem;
      color: white;
      font: inherit;
      padding-block: 8px;
      padding-inline: 300px;
    }

    > .menu > .item > .label {
      width: 580px;
      border: none;
      border-radius: 999px;
      box-sizing: border-box;
      padding: 10px 15px;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 10px
    }

    > .menu > .item > .label > .input {
      background-color: black;
      border-radius: 0.8rem;
      color: white;
      padding: 10px 15px;
      border: 0.5rem solid black;
      flex-grow: 1;
    }

    > .menu > .item > .label > .input:focus {
      color: white;
    }

    .search-button {
      border: none;
      border-radius: 0.5rem;
      color: white;

      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.08rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
    }

    .login-button {
      border: none;
      border-radius: 0.5rem;
      color: white;

      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.08rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
    }

    > .menu > .spring {
      flex-grow: 1;
    }

    > .button {
      list-style-type: none;


      .album-button .item {
        background-color: black;
        color: white;

        margin-right: 0.5rem;
        width: 3rem;
        height: 2rem;
        border: 0.0625rem solid #333333;
        border-radius: 0.85rem;
      }
    }


  }

  section {
    display: block;
    background-color: #1e1e1e;
    padding: 2.5rem 1.5rem;


  }

  .artist .artist-container {
    display: flex;
  }

  .artist .subtitle-container {
    font-size: 0.7rem;
    gap: 0.3rem;
  }

  .artist .title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .artist .title:hover {
    pointer-events: none;
  }

  .artist .list {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    margin-top: 0.75rem;
    padding-inline: 0;
  }

  // 아티스트 리스트

  .artist .list .image {
    width: 9.5rem;
    height: 10rem;
    border-radius: 50%;
  }

  // 앨범 크기

  .artist .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  // 가수 이름과 아티스트 사이 간격

  .artist .bottom .artist-name {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .artist .bottom .artist-name:hover {
    text-decoration: underline;
  }

  .artist .bottom .job-name {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .artist .bottom .job-name:hover {
    text-decoration: underline;
  }

  .album .album-container {
    display: flex;
  }

  .artist .subtitle-container {
    font-size: 0.7rem;
    gap: 0.3rem;
  }

  .album .title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .album .title:hover {
    pointer-events: none;
  }

  .album .list {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    margin-top: 0.75rem;
    padding-inline: 0;
  }

  .album .list .album {
    width: 9.5rem;
    height: 10rem;
  }

  .album .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .album .bottom .album-name {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .album .bottom .album-name:hover {
    text-decoration: underline;
  }

  .album .bottom .artist-name {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .album .bottom .artist-name:hover {
    text-decoration: underline;
  }

  .chart .chart-container {
    display: flex;
  }

  .chart .subtitle-container {
    font-size: 0.7rem;
    gap: 0.3rem;
  }

  .chart .title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .chart .title:hover {
    pointer-events: none;
  }

  .chart .list {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    margin-top: 0.75rem;
    padding-inline: 0;
  }

  .chart .list .chart {
    width: 11rem;
    height: 10.5rem;
  }

  .chart .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .chart .bottom .chart-name {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .chart .bottom .chart-name:hover {
    text-decoration: underline;
  }

  .chart .bottom .chart-description {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .chart .bottom .chart-description:hover {
    text-decoration: underline;
  }

  .genre .genre-container {
    display: flex;
  }

  .genre .title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .genre .title:hover {
    pointer-events: none;
  }

  .genre .list {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    margin-top: 0.75rem;
    padding-inline: 0;
  }

  .genre .list .genre {
    width: 13.5rem;
    height: 13.5rem;
  }

  .genre .bottom .genre-name {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .genre .bottom .genre-name:hover {
    text-decoration: underline;
  }


}

#footer {
  margin-left: 20rem;
  color: white;

  .menu {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    //margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;



    .item {
      letter-spacing: 0.0225rem;
      margin: 0 1rem;

    }


    .item .link {
      color: white;
      text-decoration: none;
    }

    .item .link:hover {
      filter: brightness(70%);
    }

  }
}

