@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, "BlinkMacSystemFont", "system-ui", "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

* {
  scroll-behavior: smooth;
}

#nav {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  font: inherit;
  color: white;
  position: fixed;
  z-index: 1;
  gap: 0.85rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#nav .logo-image {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
  padding: 1.5rem 0.5rem;
  margin: 1.5rem 0.5rem;
}
#nav .logo-image .logo-image:hover {
  cursor: pointer;
}
#nav .logo-image .image {
  margin-right: 0.5rem;
}
#nav .logo-image > .title {
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
#nav .item-image {
  width: 100%;
  display: flex;
  list-style-type: none;
  height: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}
#nav .item-image > .image {
  height: 100%;
  margin-right: 0.5rem;
}
#nav .primary {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  gap: 0.85rem;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
  padding: 1.5rem 0.5rem;
  margin: 1.5rem 0.5rem;
  background-color: #1e1e1e;
}
#nav .primary li {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}
#nav .primary .item-image {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
#nav .primary .item-image .image {
  height: 100%;
  width: 100%;
}
#nav .primary .text {
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
#nav .playlist {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
  padding: 1.5rem 1rem;
  margin: 1.5rem 0.5rem;
  background-color: #1e1e1e;
}
#nav .playlist .add-button {
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #333333;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#nav .playlist .add-button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}
#nav .playlist .playlist-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#main {
  margin-left: 20rem;
}
#main > .main-div {
  display: inline;
}
#main #header {
  background-color: black;
  margin-left: 0.5rem;
}
#main #header > .menu {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: flex-start;
}
#main #header .label {
  box-sizing: border-box;
  border: 0.0625rem solid #444546;
  border-radius: 0.5rem;
  color: white;
  font: inherit;
  padding-block: 8px;
  padding-inline: 300px;
}
#main #header > .menu > .item > .label {
  width: 580px;
  border: none;
  border-radius: 999px;
  box-sizing: border-box;
  padding: 10px 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#main #header > .menu > .item > .label > .input {
  background-color: black;
  border-radius: 0.8rem;
  color: white;
  padding: 10px 15px;
  border: 0.5rem solid black;
  flex-grow: 1;
}
#main #header > .menu > .item > .label > .input:focus {
  color: white;
}
#main #header .search-button {
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
#main #header .login-button {
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
#main #header > .menu > .spring {
  flex-grow: 1;
}
#main #header > .button {
  list-style-type: none;
}
#main #header > .button .album-button .item {
  background-color: black;
  color: white;
  margin-right: 0.5rem;
  width: 3rem;
  height: 2rem;
  border: 0.0625rem solid #333333;
  border-radius: 0.85rem;
}
#main section {
  display: block;
  background-color: #1e1e1e;
  padding: 2.5rem 1.5rem;
  margin-left: 1rem;
}
#main .artist .artist-container {
  display: flex;
}
#main .artist .subtitle-container {
  font-size: 0.7rem;
  gap: 0.3rem;
}
#main .artist .title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
}
#main .artist .title:hover {
  pointer-events: none;
}
#main .artist .list {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  margin-top: 0.75rem;
  padding-inline: 0;
}
#main .artist .list .image {
  width: 9.5rem;
  height: 10rem;
  border-radius: 50%;
}
#main .artist .bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main .artist .bottom .artist-name {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main .artist .bottom .artist-name:hover {
  text-decoration: underline;
}
#main .artist .bottom .job-name {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main .artist .bottom .job-name:hover {
  text-decoration: underline;
}
#main .album .album-container {
  display: flex;
}
#main .artist .subtitle-container {
  font-size: 0.7rem;
  gap: 0.3rem;
}
#main .album .title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
}
#main .album .title:hover {
  pointer-events: none;
}
#main .album .list {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  margin-top: 0.75rem;
  padding-inline: 0;
}
#main .album .list .album {
  width: 9.5rem;
  height: 10rem;
}
#main .album .bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main .album .bottom .album-name {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main .album .bottom .album-name:hover {
  text-decoration: underline;
}
#main .album .bottom .artist-name {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main .album .bottom .artist-name:hover {
  text-decoration: underline;
}
#main .chart .chart-container {
  display: flex;
}
#main .chart .subtitle-container {
  font-size: 0.7rem;
  gap: 0.3rem;
}
#main .chart .title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
}
#main .chart .title:hover {
  pointer-events: none;
}
#main .chart .list {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  margin-top: 0.75rem;
  padding-inline: 0;
}
#main .chart .list .chart {
  width: 11rem;
  height: 10.5rem;
}
#main .chart .bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main .chart .bottom .chart-name {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main .chart .bottom .chart-name:hover {
  text-decoration: underline;
}
#main .chart .bottom .chart-description {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main .chart .bottom .chart-description:hover {
  text-decoration: underline;
}
#main .genre .genre-container {
  display: flex;
}
#main .genre .title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
}
#main .genre .title:hover {
  pointer-events: none;
}
#main .genre .list {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  margin-top: 0.75rem;
  padding-inline: 0;
}
#main .genre .list .genre {
  width: 13.5rem;
  height: 13.5rem;
}
#main .genre .bottom .genre-name {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main .genre .bottom .genre-name:hover {
  text-decoration: underline;
}

#footer {
  margin-left: 20rem;
  color: white;
}
#footer .menu {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#footer .menu .item {
  letter-spacing: 0.0225rem;
  margin: 0 1rem;
}
#footer .menu .item .link {
  color: white;
  text-decoration: none;
}
#footer .menu .item .link:hover {
  filter: brightness(70%);
}

/*# sourceMappingURL=index.home.css.map */
