@charset "UTF-8";

$aside_width: 17.5rem;
$nav_width: 4.5rem;

body {

  > .dialog {
    top: calc(50% + 0.25rem);
    left: 50%;
    width: 25rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    opacity: 0;
    padding: 2.5rem;
    pointer-events: none;
    position: fixed;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
    z-index: 9;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;

    &.-visible {
      top: 50%;
      opacity: 1;
      pointer-events: all;
    }

    > .title {
      font-size: 2rem;
      font-weight: 0;
      margin-bottom: 1rem;
      color: #5c5c5c;
    }

    > .image-container {
      align-self: center;
      justify-content: center;

      > .image {
        width: 30%;
      }
      > .title {
        font-size: 2rem;
        color: #424242;
      }
    }

    > .label > .horizontal {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      gap: 0.375rem;
      justify-content: flex-start;

      > .spring {
        float: initial;
      }
    }

    > .recover-menu {
      align-items: center;
      display: flex;
      gap: 8.1rem;
      margin: 0.2rem;
      justify-content: flex-start;
    }
  }
}

// 말그대로 커버
#cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 8;

  &.-visible {
    opacity: 1;
    pointer-events: all;
  }
}


















