<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>album</title>
    <script src="https://kit.fontawesome.com/6dee20ad07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.album.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/soundstoryicon.png}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.album.js}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>

<nav id="nav">
    <div class="logo-image">
        <a target="_blank" th:src="@{/assets/images/soundstoryicon.png}" th:href="@{/}"></a>
        <img th:src="@{/assets/images/soundstoryicon.png}" alt="홈 로고" class="image">
        <a th:href="@{/}" class="title" type="text">Sound Story</a>
    </div>
    <ul class="primary">
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/singer.png}" alt="아티스트" class="image"></a>
            <a href="#artist" class="text" type="text">인기 아티스트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/album.png}" alt="앨범" class="image"></a>
            <a href="#album" class="text" type="text">인기 앨범</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/chart.png}" alt="차트" class="image"></a>
            <a href="#chart" class="text" type="text">인기 차트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/recommend.png}" alt="차트" class="image"></a>
            <a href="" class="text" type="text">장르별 추천</a>
        </li>
    </ul>
    <!--    </div>-->
    <div class="playlist">
        <div class="playlist-container">----플레이리스트----</div>
        <!--            <div class="spring"></div>-->
        <button class="add-button">
            <i class="icon fa-solid fa-plus"></i>
        </button>
        <div class="playlist-text">
            <span class="text">나만의 플레이리스트틀 추가해 보세요 !</span>
        </div>

    </div>

</nav>
<main class="main">
    <header id="header">
        <ul class="menu">
            <li class="item">
                <label class="label">
                    <input class="input" placeholder="아티스트 및 음악 검색" type="search">

                </label>
            </li>
            <li class="item">
                <a class="search-button" href="" type="submit">검색</a>
            </li>
            <li class="spring"></li>
            <li class="item">
                <a class="login-button" href="#">로그인 하기</a>
            </li>
        </ul>
        <ul class="button">
            <li class="album-button">
                <button class="item">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="item">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </li>
        </ul>
    </header>

    <div class="album_section">
        <div class="album_wrap">
            <div class="album_thumb">
                <a href="#">
                    <img alt="정국" class="album_thumb_image"
                         src="https://i.scdn.co/image/ab67616d00001e02782a8cae588fee29eefec8b6">
                </a>
            </div>
            <div class="album_text">
                <div class="album_text_top">앨범</div>
                <div class="album_title">NJWMX</div>
                <div class="album_info">
                    <span class="album_info_thumb">
                        <img class="album_info_image"
                             src="https://i.scdn.co/image/ab6761610000f178f5d2200231e6ad75e8485476" alt="newJeans">
                    </span>
                    <span class="album_info_title">NewJeans</span>
                    <span class="album_info_content">2023 . 12곡 , 42분 34초</span>
                </div>

            </div>
        </div>
    </div>

    <div class="music-player">
        <div class="curr-music">
            <div class="music_info">
                <div class="video">
                    <div class="container">
                        <iframe id="player" type="text/html" width="560" height="315"
                                src="https://www.youtube.com/embed/?enablejsapi=1"
                                frameborder="0"></iframe>
                    </div>
                </div>
                <div class="title" id="songTitle">Ditto – 250 Remix</div>
                <div class="channel" id="songArtist">New Jeans</div>
                <div class="progress">
                    <div class="times">
                        <div class="curr-time" id="currentTimeDisplay">0:00</div>
                        <div class="total-time" id="durationDisplay">0:00</div>
                    </div>
                    <div class="slider-progress-bar">
                        <input class="progress-bar" id="progressBar" type="range" min="0" max="1000" step="1" value="0">
                    </div>
                    <div class="controls">
                        <img class="play" id="playPauseButton" alt="play" th:src="@{/assets/images/play.png}">
                        <img class="pause" alt="pause" th:src="@{/assets/images/pause.png}" style="display: none">
                    </div>
                    <!--                    <div class="volume">-->
                    <!--                        <div class="volume-sound">-->
                    <!--                            <img class="sound" alt="mute" th:src="@{/assets/images/mute.png}" style="display: none">-->
                    <!--                            <img class="sound" alt="mid" th:src="@{/assets/images/sound-mid.png}">-->
                    <!--                        </div>-->
                    <!--                        <div class="volume-bar">-->
                    <!--                            <input class="volume-soundBar" type="range" min="0" max="100" step="1">-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="TextWarning">사운드 및 영상 길이 조정은 위 화면에서 해주시기 바랍니다.</div>
                </div>
            </div>
        </div>
        <div class="music-list">
            <h2 class="list-title">Play List</h2>
            <p class="desc">유튜브로 재생되기 때문에 유튜브 프리미엄이 있어야 광고가 들리지 않습니다.</p>
            <div class="music-item" data-video-id="Dk9L4P1qP2g">
                <div class="thumbnail">
                    <img src="https://img.youtube.com/vi/Dk9L4P1qP2g/mqdefault.jpg" alt="thumbnail"
                         class="ImgThumbnail">
                </div>
                <div class="text">
                    <div class="title">Ditto – 250 Remix</div>
                    <div class="channel">NewJeans</div>
                </div>
                <div class="duration">3:21</div>
            </div>
            <div class="music-item" data-video-id="MEAfAviN1Ms">
                <div class="thumbnail">
                    <img src="https://img.youtube.com/vi/Dk9L4P1qP2g/mqdefault.jpg" alt="thumbnail"
                         class="ImgThumbnail">
                </div>
                <div class="text">
                    <div class="title">OMG (FPNK Remix)</div>
                    <div class="channel">NewJeans</div>
                </div>
                <div class="duration">3:30</div>
            </div>
            <div class="music-item" data-video-id="gIwcxYidIA8">
                <div class="thumbnail">
                    <img src="https://img.youtube.com/vi/Dk9L4P1qP2g/mqdefault.jpg" alt="thumbnail"
                         class="ImgThumbnail">
                </div>
                <div class="text">
                    <div class="title">Attention (250 Remix)</div>
                    <div class="channel">NewJeans</div>
                </div>
                <div class="duration">3:02</div>
            </div>
            <div class="music-item" data-video-id="zfCXPtfCNkU">
                <div class="thumbnail">
                    <img src="https://img.youtube.com/vi/Dk9L4P1qP2g/mqdefault.jpg" alt="thumbnail"
                         class="ImgThumbnail">
                </div>
                <div class="text">
                    <div class="title">Hype Boy (250 Remix)</div>
                    <div class="channel">NewJeans</div>
                </div>
                <div class="duration">4:11</div>
            </div>
            <div class="music-item" data-video-id="Tca6jgfhn4A">
                <div class="thumbnail">
                    <img src="https://img.youtube.com/vi/Dk9L4P1qP2g/mqdefault.jpg" alt="thumbnail"
                         class="ImgThumbnail">
                </div>
                <div class="text">
                    <div class="title">Cookie (FRNK Remix)</div>
                    <div class="channel">NewJeans</div>
                </div>
                <div class="duration">3:32</div>
            </div>
            <div class="music-item" data-video-id="uONSk48LW1A">
                <div class="thumbnail">
                    <img src="https://img.youtube.com/vi/uONSk48LW1A/mqdefault.jpg" alt="thumbnail"
                         class="ImgThumbnail">
                </div>
                <div class="text">
                    <div class="title">NewJeans (뉴진스) 'Hurt (250 Remix)' Special Video</div>
                    <div class="channel">NewJeans</div>
                </div>
                <div class="duration">3:45</div>
            </div>
        </div>
    </div>
</main>
<footer id="footer">
    <ul class="menu">
        <li class="item">
            <a class="link" href="">사운드 스토리 이용약관</a>
        </li>
        <li class="item">
            <a class="link" href="">안전 및 개인정보 보호 센터</a>
        </li>
        <li class="item">
            <a class="link" href=""> 개인정보 처리방침</a>
        </li>
        <li class="item">
            <a class="link" href="">&copy; SoundStory Corp.</a>
        </li>

    </ul>
</footer>
</body>
</html>