<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${article == null ? '존재하지 않는 게시글' : article.index}"></title>
    <script th:if="${article == null}">
        alert('존재하지 않는 게시글입니다.');
        history.back();
    </script>
    <script defer th:src="@{/assets/scripts/read.js}"></script>
</head>
<body th:if="${article != null}">
<table border="1">
    <thead>
    <tr>
        <th scope="row">작성자</th>
        <td th:text="${article.userEmail}"></td>
        <th scope="row">작성일시</th>
        <td th:text="${article.getCreatedAt()}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">내용</th>
        <td colspan="5" th:text="${article.content}">?</td>
    </tr>
    </tbody>


<!--    <tfoot>-->
<!--    <tr>-->
<!--        <td th:colspan="6">-->
<!--            <a th:href="@{/board/list (code=${article.getBoardCode()})}">목록</a>-->
<!--            <a th:href="@{/article/modify (index=${article.getIndex()})}"-->
<!--               th:if="${session.user != null && session.user.getEmail().equals(article.getUserEmail())}">수정</a>-->
<!--            <a href="#" onclick="deleteArticle()"-->
<!--               th:if="${session.user != null && session.user.getEmail().equals(article.getUserEmail())}">삭제</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tfoot>-->
</table>
<!--<form id="commentForm" >-->
<!--    <h2>댓글</h2>-->
<!--    <input name="articleIndex" type="hidden" th:value="${article.getIndex()}">-->
<!--    <label>-->
<!--        <span>내용</span>-->
<!--        <input th:disabled="${session.user == null}" name="content" type="text">-->
<!--    </label>-->
<!--    <input th:disabled="${session.user == null}" type="submit" value="작성">-->
<!--</form>-->
<!--<div id="comment-container">-->
<!--    <div rel="comment">-->
<!--        <div>-->
<!--            <span>[1]</span>-->
<!--            <span>작성자 자리</span>-->
<!--            <span>2024-01-01 00:00:00</span>-->
<!--        </div>-->
<!--        <div>내용자리</div>-->
<!--        <div>-->
<!--            <button rel="modify">수정</button>-->
<!--            <button rel="delete">삭제</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>