<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LE SSERAFIM</title>
    <script src="https://kit.fontawesome.com/d853797a23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.artist.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/soundstoryicon.png}">
    <script defer th:src="@{/assets/scripts/comment.js}"></script>
</head>
<body>

<nav id="nav">
    <div class="logo-image">
        <a target="_blank" th:src="@{/assets/images/soundstoryicon.png}" th:href="@{/}"></a>
        <img th:src="@{/assets/images/soundstoryicon.png}" alt="홈 로고" class="image">
        <a th:href="@{/}" class="title" type="text">Sound Story</a>
    </div>
    <ul class="primary">
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/singer.png}"  alt="아티스트" class="image"></a>
            <a href="#" class="text" type="text">인기 아티스트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/album.png}" alt="앨범" class="image"></a>
            <a href="#" class="text" type="text">인기 앨범</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/chart.png}" alt="차트" class="image"></a>
            <a href="#" class="text" type="text">인기 차트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/recommend.png}" alt="차트" class="image"></a>
            <a href="#" class="text" type="text">장르별 추천</a>
        </li>
    </ul>
    <!--    </div>-->
    <div class="playlist">
        <div class="playlist-container">----플레이리스트----</div>
        <button class="add-button" >
            <i class="icon fa-solid fa-plus"></i>
        </button>
        <div class="playlist-text">
            <span class="text">나만의 플레이리스트틀 추가해 보세요 !</span>
        </div>

    </div>

</nav>
<main class="main">
    <header id="header">
        <ul class="menu">
            <li class="item">
                <label class="label">
                    <input class="input" placeholder="아티스트 및 음악 검색" type="search">

                </label>
            </li>
            <li class="item">
                <a class="search-button" href="" type="submit">검색</a>
            </li>
            <li class="spring"></li>
            <li class="item">
                <a class="login-button" href="#">로그인 하기</a>
            </li>
        </ul>
    </header>
    <div class="artist_section" id="artist" th:fragment="artist" style="background-image: url(https://musicmeta-phinf.pstatic.net/artist/005/438/5438597.jpg?type=f720_720_b24&v=20240530011313);">
        <div class="artist_wrap">
            <div class="artist_thumb">
                <a href="#">
                    <img alt="LE SSERAFIM" class="artist_thumb_image"
                         src="https://musicmeta-phinf.pstatic.net/artist/005/438/5438597.jpg?type=ff300_300&v=20240530011313">
                </a>
            </div>
            <div class="artist_text">
                <div class="artist_title">LE SSERAFIM</div>
                <div class="artist_info">
                    <span class="artist_info_title">장르</span>
                    <span class="artist_info_content">댄스</span>
                </div>
                <div class="artist_info">
                    <span class="artist_info_title">소속</span>
                    <span class="artist_info_content">쏘스뮤직</span>
                </div>
                <div class="artist_info">
                    <span class="artist_info_title">멤버</span>
                    <span class="artist_info_content">카즈하, 허윤진, 홍은채, 김채원, 사쿠라</span>
                </div>
            </div>
        </div>
    </div>
    <div class="song_section">
        <div class="section_title">인기 노래</div>
        <div class="trackList">
            <table class="table">
                <thead>
                <tr hidden="hidden">
                    <th scope="col" class="song_thumb"></th>
                    <th scope="col" class="song_title"></th>
                    <th scope="col" class="song_artist"></th>
                    <th scope="col" class="song_album"></th>
                    <th scope="col" class="song_option"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="song_thumb">
                        <div class="inner">
                            <img class="img_thumb"
                                 src="https://musicmeta-phinf.pstatic.net/album/009/615/9615768.jpg?type=r120Fll&v=20240225100022"
                                 alt="UNFORGIVEN 앨범 커버">
                            <a href="#" role="button"></a>
                        </div>
                    </td>
                    <td class="song_title">
                        <div class="inner">
                            <a href="#" title="ANTIFRAGILE" class="link_text">
                                <span>ANTIFRAGILE</span>
                            </a>
                        </div>
                    </td>
                    <td class="song_artist">
                        <div class="inner">
                            <div title="LE SSERAFIM (르세라핌)" class="link_text">
                                <span>LE SSERAFIM (르세라핌)</span>
                            </div>
                        </div>
                    </td>
                    <td class="song_album">
                        <div class="inner">
                            <a href="#" title="UNFORGIVEN" class="link_text">
                                UNFORGIVEN</a>
                        </div>
                    </td>
                    <td class="song_option">
                        <i class="fa-solid fa-ellipsis"></i>
                    </td>
                </tr>
                <tr>
                    <td class="song_thumb">
                        <div class="inner">
                            <img class="img_thumb"
                                 src="https://musicmeta-phinf.pstatic.net/album/009/615/9615768.jpg?type=r120Fll&v=20240225100022"
                                 alt="NewJeans 1st EP 'New Jeans' 앨범 커버">
                            <a href="#" role="button"></a>
                        </div>
                    </td>
                    <td class="song_title">
                        <div class="inner">
                            <a href="#" title="UNFORGIVEN (feat. Nile Rodgers)" class="link_text">
                                <span>UNFORGIVEN (feat. Nile Rodgers)</span>
                            </a>
                        </div>
                    </td>
                    <td class="song_artist">
                        <div class="inner">
                            <div title="LE SSERAFIM (르세라핌)" class="link_text">
                                <span>LE SSERAFIM (르세라핌)</span>
                            </div>
                        </div>
                    </td>
                    <td class="song_album">
                        <div class="inner">
                            <a href="#" title="UNFORGIVEN" class="link_text">UNFORGIVEN</a>
                        </div>
                    </td>
                    <td class="song_option">
                        <i class="fa-solid fa-ellipsis"></i>
                    </td>
                </tr>
                <tr>
                    <td class="song_thumb">
                        <div class="inner">
                            <img class="img_thumb"
                                 src="https://musicmeta-phinf.pstatic.net/album/030/116/30116533.jpg?type=r120Fll&v=20240227064023"
                                 alt="Perfect Night 앨범 커버">
                            <a href="#" role="button"></a>
                        </div>
                    </td>
                    <td class="song_title">
                        <div class="inner">
                            <a href="#" title="Perfect Night" class="link_text">
                                <span>Perfect Night</span>
                            </a>
                        </div>
                    </td>
                    <td class="song_artist">
                        <div class="inner">
                            <div title="LE SSERAFIM (르세라핌)" class="link_text">
                                <span>LE SSERAFIM (르세라핌)</span>
                            </div>
                        </div>
                    </td>
                    <td class="song_album">
                        <div class="inner">
                            <a href="#" title="Perfect Night" class="link_text">
                                Perfect Night</a>
                        </div>
                    </td>
                    <td class="song_option">
                        <i class="fa-solid fa-ellipsis"></i>
                    </td>
                </tr>
                <tr>
                    <td class="song_thumb">
                        <div class="inner">
                            <img class="img_thumb"
                                 src="https://musicmeta-phinf.pstatic.net/album/030/811/30811889.jpg?type=r120Fll&v=20240503184524"
                                 alt="EASY 앨범 커버">
                            <a href="#" role="button"></a>
                        </div>
                    </td>
                    <td class="song_title">
                        <div class="inner">
                            <a href="#" title="EASY" class="link_text">
                                <span>EASY</span>
                            </a>
                        </div>
                    </td>
                    <td class="song_artist">
                        <div class="inner">
                            <div title="LE SSERAFIM (르세라핌)" class="link_text">
                                <span>LE SSERAFIM (르세라핌)</span>
                            </div>
                        </div>
                    </td>
                    <td class="song_album">
                        <div class="inner">
                            <a href="#" title="EASY" class="link_text">
                                EASY</a>
                        </div>
                    </td>
                    <td class="song_option">
                        <i class="fa-solid fa-ellipsis"></i>
                    </td>
                </tr>
                <tr>
                    <td class="song_thumb">
                        <div class="inner">
                            <img class="img_thumb"
                                 src="https://musicmeta-phinf.pstatic.net/album/009/615/9615768.jpg?type=r120Fll&v=20240225100022"
                                 alt="UNFORGIVEN 앨범 커버">
                            <a href="#" role="button"></a>
                        </div>
                    </td>
                    <td class="song_title">
                        <div class="inner">
                            <a href="#" title="이브, 프시케 그리고 푸른 수염의 아내" class="link_text">
                                <span>이브, 프시케 그리고 푸른 수염의 아내</span>
                            </a>
                        </div>
                    </td>
                    <td class="song_artist">
                        <div class="inner">
                            <div title="LE SSERAFIM (르세라핌)" class="link_text">
                                <span>LE SSERAFIM (르세라핌)</span>
                            </div>
                        </div>
                    </td>
                    <td class="song_album">
                        <div class="inner">
                            <a href="#" title="UNFORGIVEN" class="link_text">
                                UNFORGIVEN</a>
                        </div>
                    </td>
                    <td class="song_option">
                        <i class="fa-solid fa-ellipsis"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class="album_section">
        <div class="section_title">앨범 및 EP</div>
        <ul class="album_list">
            <li class="item">
                <a href="/" class="album_item">
                    <img alt="NJWMX 앨범 커버" class="image" src="https://musicmeta-phinf.pstatic.net/album/030/557/30557671.jpg?type=r360Fll&v=20240227163014">
                    <div class="bottom">
                        <div class="album_name">NJWMX</div>
                        <div class="artist_name">2023 • 앨범</div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/" class="album_item">
                    <img alt="UNFORGIVEN 앨범 커버" class="image" src="https://musicmeta-phinf.pstatic.net/album/009/615/9615768.jpg?type=r120Fll&v=20240225100022">
                    <div class="bottom">
                        <div class="album_name">UNFORGIVEN</div>
                        <div class="artist_name">2023 • 앨범</div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/" class="album_item">
                    <img alt="Perfect Night 앨범 커버" class="image" src="https://musicmeta-phinf.pstatic.net/album/030/116/30116533.jpg?type=r120Fll&v=20240227064023">
                    <div class="bottom">
                        <div class="album_name">Perfect Night</div>
                        <div class="artist_name">2023 • 싱글</div>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/" class="album_item">
                    <img alt="EASY 앨범 커버" class="image" src="https://musicmeta-phinf.pstatic.net/album/030/811/30811889.jpg?type=r120Fll&v=20240503184524">
                    <div class="bottom">
                        <div class="album_name">EASY</div>
                        <div class="artist_name">2024 • EP</div>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</main>
<footer id="footer">
    <ul class="menu">
        <li class="item">
            <a class="link" href="">사운드 스토리 이용약관</a>
        </li>
        <li class="item">
            <a class="link" href="">안전 및 개인정보 보호 센터</a>
        </li>
        <li class="item">
            <a class="link" href=""> 개인정보 처리방침</a>
        </li>
        <li class="item">
            <a class="link" href="">&copy; SoundStory Corp.</a>
        </li>

    </ul>
</footer>

</body>
</html>