<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sound Story</title>
    <script src="https://kit.fontawesome.com/d853797a23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index._global.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.album.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.artist.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.cover.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.loading.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.recoverDialog.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.registerForm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.search.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/soundstoryicon.png}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.home.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/defaulthome.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.cover.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.js}"></script>

    <script defer type="text/javascript" th:src="@{/assets/scripts/index.loading.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.loginForm.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.recoverDialog.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.registerForm.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/index/cover.html :: cover}"></th:block>
<th:block th:replace="~{fragments/index/loading.html :: loading}"></th:block>
<th:block th:replace="~{fragments/index/loginForm.html :: loginForm}"></th:block>
<th:block th:replace="~{fragments/index/recoverDialog.html :: recoverDialog}"></th:block>
<th:block th:replace="~{fragments/index/registerForm.html :: registerForm}"></th:block>
<nav id="nav">
    <div class="logo-image">
        <a target="_self" th:src="@{/assets/images/soundstoryicon.png}" th:href="@{/}"></a>
        <img th:src="@{/assets/images/soundstoryicon.png}" alt="홈 로고" class="image">
        <a th:href="@{/}" class="title" type="text">Sound Story</a>
    </div>
    <ul class="primary">
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/singer.png}" alt="아티스트" class="image"></a>
            <a th:href="@{/}" class="text" type="text">인기 아티스트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/album.png}" alt="앨범" class="image"></a>
            <a href="#album" class="text" type="text">인기 앨범</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/chart.png}" alt="차트" class="image"></a>
            <a href="#chart" class="text" type="text">인기 차트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/recommend.png}" alt="차트" class="image"></a>
            <a href="#genre" class="text" type="text">장르별 추천</a>
        </li>
    </ul>
    <!--    </div>-->
    <div class="playlist">
        <div class="playlist-container">----플레이리스트----</div>
        <button class="add-button">
            <i class="icon fa-solid fa-plus"></i>
        </button>
        <div class="playlist-text">
            <span class="text">나만의 플레이리스트틀 추가해 보세요 !</span>
        </div>

    </div>

</nav>
<main id="main">
    <div class="main-div">

        <header id="header">
            <ul class="menu">
<!--                <li class="item">-->
<!--                    <label class="label">-->
<!--                        <input class="input" placeholder="아티스트 및 음악 검색" type="search">-->

<!--                    </label>-->
<!--                </li>-->
                <li class="item">
                    <a class="search-button" href="" type="submit">검색</a>
                </li>
                <li class="spring"></li>
                <li class="item">
                    <div th:if="${session.get('user') != null}">
                        <b th:text="${session.get('user').getNickname()}"></b>님 환영합니다.
                    </div>
                </li>
                <li class="item">
                    <a class="login-button" th:if="${session.user == null}" href="#" rel="showLoginCaller" id="show">로그인</a>
                    <a class="login-button" th:if="${session.user != null}" th:href="@{/user/logout}">로그아웃</a>
                </li>
            </ul>
        </header>

        <section class="artist">
            <div class="artist-container">
                <div class="title">인기 아티스트</div>
            </div>
            <ul class="list">
                <li class="item">
                    <a th:href="@{/artist}" class="image-wrapper">
                        <img alt class="image" src="https://musicmeta-phinf.pstatic.net/artist/005/615/5615371.jpg?type=ff300_300&v=20240524125902">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a th:href="@{/artist}" class="artist-name" value="1">뉴진스</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>

                </li>
                <li class="item">
                    <a th:href="@{/artist/3}" class="image-wrapper">
                        <img alt class="image" src="https://musicmeta-phinf.pstatic.net/artist/008/462/8462145.jpg?type=ff300_300&v=20240513042750">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/3}">ILLIT</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/5}" class="image-wrapper">
                        <img alt class="image" src="https://i.scdn.co/image/ab6761610000517473f96bdf146d008680149954">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name"  th:href="@{/artist/5}">LE SSERAFIM</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/7}" class="image-wrapper">
                        <img alt class="image" src="https://i.scdn.co/image/ab67616100005174bc333412dcb39d8ef2bd91cc">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/7}">지코</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/8}" class="image-wrapper">
                        <img alt class="image" src="https://i.scdn.co/image/ab67616100005174bd0642ff425698afac5caffd">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/8}">아이유</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name" >아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/12}" class="image-wrapper">
                        <img alt class="image" src="https://musicmeta-phinf.pstatic.net/artist/006/923/6923142.jpg?type=ff300_300&v=20240417153045">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/12}">RIIZE</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/1}" class="image-wrapper">
                        <img alt class="image" src="https://i.scdn.co/image/ab6761610000517440a7268dd742e5f63759b960">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/1}">정국</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/4}" class="image-wrapper">
                        <img alt class="image" src="https://i.scdn.co/image/ab676161000051748939960e5144b51d7903899f">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/4}">IVE</a>
                        </div>
                        <div class="subtitle-container">
                            <a class="job-name" href="https://open.spotify.com/artist/6VuMaDnrHyPL1p4EHjYLi7">아티스트</a>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/6}" class="image-wrapper">
                        <img alt class="image" src="https://i.scdn.co/image/ab67616100005174573935eb61a1897aeb43c531">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/6}">aespa</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/9}" class="image-wrapper">
                        <img alt class="image" src="https://musicmeta-phinf.pstatic.net/artist/000/274/274326.jpg?type=ff300_300&v=20240315125901">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/9}">
                                V</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/10}" class="image-wrapper">
                        <img alt class="image" src="https://musicmeta-phinf.pstatic.net/artist/002/388/2388740.jpg?type=ff300_300&v=20240513180946">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/10}">(여자)아이들</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a th:href="@{/artist/11}" class="image-wrapper">
                        <img alt class="image" src="https://musicmeta-phinf.pstatic.net/artist/000/134/134431.jpg?type=ff300_300&v=20240425175900">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="artist-name" th:href="@{/artist/11}">10CM</a>
                        </div>
                        <div class="subtitle-container">
                            <div class="job-name">아티스트</div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="album">
            <div class="album-container">
                <div class="title">인기 앨범</div>
            </div>
            <ul class="list">
                <li class="item">
                    <a href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d" class="album-wrapper">
                        <img alt class="album" src="https://i.scdn.co/image/ab67616d00001e02741fd4807f442af3f7359316">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="album-name"
                               href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">GOLDEN</a>
                        </div>
                        <div class="subtitle-container">
                            <a class="artist-name" href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">정국</a>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d" class="album-wrapper">
                        <img alt class="album" src="https://i.scdn.co/image/ab67616d00001e028f116e476da669a9a3e7dcaa">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="album-name" href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">IM
                                HERO</a>
                        </div>
                        <div class="subtitle-container">
                            <a class="artist-name" href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">임영웅</a>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d" class="album-wrapper">
                        <img alt class="album" src="https://i.scdn.co/image/ab67616d00001e021b8ae147aceb9fc130391287">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="album-name"
                               href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">SPOT!</a>
                        </div>
                        <div class="subtitle-container">
                            <a class="artist-name"
                               href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">지코,제니</a>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d" class="album-wrapper">
                        <img alt class="album" src="https://i.scdn.co/image/ab67616d00001e028bcb1a80720292aaffb35989">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="album-name" href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">IVE
                                SWITCH</a>
                        </div>
                        <div class="subtitle-container">
                            <a class="artist-name" href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">아이브</a>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d" class="album-wrapper">
                        <img alt class="album" src="https://i.scdn.co/image/ab67616d00001e028e504c5aedaae49a73ed4963">
                    </a>
                    <div class="bottom">
                        <div class="title-container">
                            <a class="album-name"
                               href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">Layover</a>
                        </div>
                        <div class="subtitle-container">
                            <a class="artist-name" href="https://open.spotify.com/artist/6HvZYsbFfjnjFrWF950C9d">V</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="chart">
            <div class="chart-container">
                <div class="chart-button">
                    <button class="prevButton" id="prevButton"><i class="fa-solid fa-angle-left"></i></button>
                    <button class="nextButton" id="nextButton"><i class="fa-solid fa-angle-right"></i></button>
                </div>
                <div class="title">인기 차트</div>
                <div class="">
                    <ul class="chart-content">
                        <li class="list-item" id="chart-1">
                            <ul class="list-item-content">
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <a href="/">
                                            <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                        </a>

                                    </div>
                                    <div class="chart-rank">1</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">2</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">3</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">4</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">5</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-item" id="chart-2">
                            <ul class="list-item-content">
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">6</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">7</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">8</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">9</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">10</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-item" id="chart-3">
                            <ul class="list-item-content">
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">11</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">12</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">13</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">14</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">15</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-item" id="chart-4">
                            <ul class="list-item-content">
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">16</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">17</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">18</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">19</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">20</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-item" id="chart-5">
                            <ul class="list-item-content">
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">21</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">22</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">23</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">24</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">25</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-item" id="chart-6">
                            <ul class="list-item-content">
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">26</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">27</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">28</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">29</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item-row">
                                    <div class="chart-thumb">
                                        <img class="chart-image" src="https://musicmeta-phinf.pstatic.net/album/031/577/31577945.jpg?type=r100Fll&v=20240527175901" alt="">
                                    </div>
                                    <div class="chart-rank">30</div>
                                    <div class="chart-area">
                                        <div class="chart-song">
                                            <a href="/" class="chart-title">Supernova</a>
                                        </div>
                                        <div class="chart-name">
                                            <a href="/artist/6" class="chart-artist">aespa</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
    </div>
</main>
<footer id="footer">
    <ul class="menu">
        <li class="item">
            <a class="link" href="">사운드 스토리 이용약관</a>
        </li>
        <li class="item">
            <a class="link" href="">안전 및 개인정보 보호 센터</a>
        </li>
        <li class="item">
            <a class="link" href=""> 개인정보 처리방침</a>
        </li>
        <li class="item">
            <a class="link" href="">&copy; SoundStory Corp.</a>
        </li>

    </ul>
</footer>


</body>
</html>
